/* BODY */
body {
  background-color: #424242 !important;
}

a {
  color: #e0e0e0 !important;
}

/* LEFT NAVBAR */
/* OPTIONS */
._bui ._5afe {
  color: #e0e0e0 !important;
}
/* SECTIONS TITLES */
._55y4 .sectionDragHandle {
  color: #bdbdbd !important;
}

/* SELECT */
._3m75 .sideNavItem ._5afe::after {
  background-color: #616161 !important;
  border: none !important;
}

/* RIGHT NAVBAR */
.fbChatSidebar {
  background-color: #616161 !important;
  border: none !important;
}

.clearfix>._ohe.lfloat{
  color: #e0e0e0 !important;
}

._55oc {
  color: #e0e0e0 !important;
}

._55ls {
  color: #e0e0e0 !important;
}

._568- {
  color: #e0e0e0 !important;
}

/* POSTS */
._5vb_, ._5vb_ #contentCol {
  background-color: #424242 !important;
  color: #e0e0e0 !important;
}

._4-u8 {
  background-color: #616161 !important;
  border: none !important;
}

._2yq._2ltu ._4-u2:before {
  border: none !important;
}

._5vsj._5vsj._5vsj {
  background-color: #616161 !important;
}

._5vsj .UFIRow {
  background-color: #616161 !important;
}

._5vsj ._1g5v+._4arz {
  background: #616161 !important;
  color: #e0e0e0 !important;
}

._41nt {
  background: #616161 !important;
}
